  <nz-layout class="main-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>设备编辑器</h1>
        </a>
      </div>

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
<!--        <li nz-menu-item nzMatchRouter>-->
<!--          <a [routerLink]="['/main/welcome']">-->
<!--            <span nz-icon nzType="home" nzTheme="outline"></span>-->
<!--            <span>首页</span>-->
<!--          </a>-->
<!--        </li>-->

        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['/main/device']">
            <span nz-icon nzType="bulb" nzTheme="outline"></span>
            <span>设备</span>
          </a>
        </li>

<!--        <li nz-menu-item nzMatchRouter>-->
<!--          <a [routerLink]="['/main/event']">-->
<!--            <span nz-icon nzType="thunderbolt" nzTheme="outline"></span>-->
<!--            <span>事件</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header>
        <div class="main-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>

<!--          <span style="float: right">-->
<!--            <span class="main-header-icon">-->
<!--              <a href="{{environment.server}}/admin" target="_blank">-->
<!--                <span>控制台</span>-->
<!--              </a>-->
<!--            </span>-->

<!--            <span class="main-header-icon">-->
<!--              <a href="{{environment.server}}/api" target="_blank">-->
<!--                <span>接口文档</span>-->
<!--              </a>-->
<!--            </span>-->
<!--          </span>-->
        </div>
      </nz-header>

      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>

      <nz-footer>
        <span>Copyleft</span>
        <span nz-icon nzType="copyright" nzTheme="outline"></span>
        <span><a>jxfengzi</a></span>
        <span>2025 ({{ version }})</span>
      </nz-footer>
    </nz-layout>

  </nz-layout>
